.buttonClass {
    text-decoration: none !important;
    position: relative;
    left: 51.6%;
    top: -6.80rem;
}

.buttonClasss {
    text-decoration: none !important;
    position: relative;
    left: 51.6%;
    top: 3.80rem;
}

.divLikeCommentContainer {
    position: relative;
    bottom: 3rem;
}

.buttonClass1 {
    text-decoration: none !important;
    position: relative;
    left: 49.4%;
    top: 5.3rem;
}

.editClass {
    text-decoration: none !important;
    position: relative;
    left: 51.7%;
    top: -6.55rem;
}

.editClasss {
    text-decoration: none !important;
    position: relative;
    left: 51.7%;
    top: 3rem;
}